# Twig
cache = Path to twig DIR
debug = BOOL
auto_reload = BOOL

# Aura DB
driver = MySQL driver
host = host ex. localhost, 127.0.0.1
port = port
dbname = database name
user = user
password = password
