
<main class="row">
    <div class="large-1 medium-2 small-3 hide-for-small-only columns">
        <div class="main-bg-time">
            <a href="{{ base_url() }}/{{ "-1 day"|date("mdY") }}/"><time datetime="{{ "-1 day"|date("mdY") }}">{{ "-1 day"|date("M d") }}</time></a>
        </div>
        <div class="main-bg-time">
            <a href="{{ base_url() }}/{{ "-2 day"|date("mdY") }}/"><time datetime="{{ "-2 day"|date("mdY") }}">{{ "-2 day"|date("M d") }}</time></a>
        </div>
        <div class="main-bg-time">
            <a href="{{ base_url() }}/{{ "-3 day"|date("mdY") }}/"><time datetime="{{ "-3 day"|date("mdY") }}">{{ "-3 day"|date("M d") }}</time></a>
        </div>
        <div class="main-bg-time">
            <a href="{{ base_url() }}/{{ "-4 day"|date("mdY") }}/"><time datetime="{{ "-4 day"|date("mdY") }}">{{ "-4 day"|date("M d") }}</time></a>
        </div>
        <div class="main-bg-time">
            <a href="{{ base_url() }}/{{ "-5 day"|date("mdY") }}/"><time datetime="{{ "-5 day"|date("mdY") }}">{{ "-5 day"|date("M d") }}</time></a>
        </div>
        <div class="main-bg-time">
            <a href="{{ base_url() }}/{{ "-6 day"|date("mdY") }}/"><time datetime="{{ "-6 day"|date("mdY") }}">{{ "-6 day"|date("M d") }}</time></a>
        </div>
        <div class="main-bg-time">
            <a href="{{ base_url() }}/{{ "-7 day"|date("mdY") }}/"><time datetime="{{ "-7 day"|date("mdY") }}">{{ "-7 day"|date("M d") }}</time></a>
        </div>
        {% for month in months %}
        <div class="main-bg-time">
            <a href="{{ base_url() }}/{{ month|date("mY") }}/"><time datetime="{{ month }}">{{ month }}</time></a>
        </div>
        {% endfor %}
    </div>
    <div class="large-8 medium-7 small-12 columns" id="reportContents">
        {% if user %}
        <div class="main-bg">
            <form id="post" action="{{ path_for('post') }}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="emowords">
                        <ul>
                            <li>
                                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" data-emoword="Grandpa" tabindex="2" title="Grandpa.">
                                    <i class="fa fa-blind" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" data-emoword="Baby" tabindex="2" title="Baby.">
                                    <i class="fa fa-child" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" data-emoword="Stalker" tabindex="2" title="Stalker.">
                                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" data-emoword="Buddy" tabindex="2" title="Buddy.">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" data-emoword="Wife" tabindex="2" title="Wife.">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                {% if error %}
                <div class="row">
                    <div class="large-12 columns">
                        {{ error }}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="large-10 medium-9 small-8 columns" id="txt-div">
                        <textarea class="input-group-field" placeholder="What you doing?" id="txtaPost" name="txtaPost"></textarea>
                    </div>
                    <div class="large-2 medium-3 small-4 columns">
                        <select id="dropdown" name="dbVerb">
                            {% for verb in verbs %}
                            <option value="{{ verb.verb }}">{{ verb.verb }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="large-1 medium-2 small-3 columns text-center">
                        <span class="underline"><a href="javascript:void(0)">Text</a></span>
                    </div>
                    <div class="large-1 medium-2 small-3 columns text-center" id="uploads">
                        <label for="fileUpload">
                            Photo
                        </label>
                        <input type="file" id="fileUpload" name="fileUpload[]" class="show-for-sr" multiple />
                    </div>
                    <div class="large-2 medium-3 small-4 columns">
                        <button type="submit" class="expanded button" href="#">Report</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        <!-- reports start here -->
        {% for report in reports %}
        <div class="main-bg" id="post-{{ report.fldPostID }}">
            <div class="row">
                <div class="large-2 medium-2 small-2 columns">
                    {% if report.uPic %}
                    <img src="{{ report.uPic }}" alt="{{ report.uFName }} {{ report.uLName }}" />
                    {% else %}
                    <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                    {% endif %}
                </div>
                <div class="large-9 medium-8 small-8 columns post-info">
                    <a href="{{ base_url }}/{{ report.uID }}/{{ report.uFName|lower }}{{ report.uLName|lower }}-{{ report.fldPostCreatedOn|date("mdY") }}/">{{ report.uFName }} {{ report.uLName }}</a>
                    <a href="{{ base_url }}/{{ report.uID }}/{{ report.uFName|lower }}{{ report.uLName|lower }}-{{ report.fldPostCreatedOn|date("mdY") }}/"><small>{{ report.fldPostCreatedOn }}</small></a>
                    <p>
                        {{ report.fldPost|raw }} - <a class="verb-modal" href="javascript:void(0)" data-verb="{{ report.fldPostVerb }}"><span>{{ report.fldPostVerb }}</span></a>
                    </p>
                    {% if report.fldPostType is same as('Image') %}
                        <div class="imgs">
                            {% if report.fldPostMedia and report.fldPostMedia1 and report.fldPostMedia2 and report.fldPostMedia3 %}
                            <div class="large-12 medium-6 small-12 columns">
                                <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia }}">
                                    <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia }}" alt="{{ report.fldPost }}" />
                                </a>
                            </div>
                            <div class="large-4 medium-6 small-12 columns">
                                <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia1 }}">
                                    <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia1 }}" alt="{{ report.fldPost }}" />
                                </a>
                            </div>
                            <div class="large-4 medium-6 small-12 columns">
                                <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia2 }}">
                                    <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia2 }}" alt="{{ report.fldPost }}" />
                                </a>
                            </div>
                            <div class="large-4 medium-6 small-12 columns">
                                <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia3 }}">
                                    <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia3 }}" alt="{{ report.fldPost }}" />
                                </a>
                            </div>
                            <a href="{{ base_url() }}/post/{{ report.fldPostID }}">view more</a>
                            {% elseif report.fldPostMedia and report.fldPostMedia1 and report.fldPostMedia2 %}
                            <div class="large-8 medium-12 small-12 columns">
                                <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia }}">
                                    <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia }}" alt="{{ report.fldPost }}" />
                                </a>
                            </div>
                            <div class="large-4 medium-12 small-12 columns">
                                <div class="large-12 columns">
                                    <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia1 }}">
                                        <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia1 }}" alt="{{ report.fldPost }}" />
                                    </a>
                                </div>
                                <div class="large-12 columns">
                                    <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia2 }}">
                                        <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia2 }}" alt="{{ report.fldPost }}" />
                                    </a>
                                </div>
                            </div>
                            {% elseif report.fldPostMedia and report.fldPostMedia1 %}
                            <div class="large-6 medium-12 small-12 columns">
                                <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia }}">
                                    <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia }}" alt="{{ report.fldPost }}" />
                                </a>
                            </div>
                            <div class="large-6 medium-12 small-12 columns">
                                <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia1 }}">
                                    <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia1 }}" alt="{{ report.fldPost }}" />
                                </a>
                            </div>
                            {% elseif report.fldPostMedia %}
                            <a class="pop-thumbnail" href="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia }}">
                                <img class="img-responsive thumbnail" src="{{ base_url() }}/assets/uploads/reports/{{ report.fldPostMedia }}" alt="{{ report.fldPost }}" />
                            </a>
                            {% endif %}
                        </div>
                    {% elseif report.fldPostType is same as('Video') %}
                    <iframe style="width:100%; height:100%;" src="https://www.youtube.com/embed/{{ report.fldPostMedia }}"><p>Your browser those not support iframe.</p></iframe>
                    {% endif %}
                </div>
                <div class="large-1 medium-2 small-2 columns">
                    {% if user.fldUserID == report.uID %}
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a href="#"></a>
                            <ul class="menu">
                                <li><a href="javascript:void(0)" data-pid='{{ report.fldPostID }}' class='pedit'>Edit</a></li>
                                <li><a href="javascript:void(0)" data-pid='{{ report.fldPostID }}' class='pdel'>Delete</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <hr class="comment-hr">
                <div class="large-2 columns lnk-comment">
                    {% if report.fldCommentID %}
                    <a href="{{ base_url() }}/post/{{ report.fldPostID }}">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        Comment
                    </a>
                    {% else %}
                    <label for="txt{{ report.fldPostID }}">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        Comment
                    </label>
                    {% endif %}
                </div>
                <div class="large-2 columns"></div>
            </div>
            <div class="comment-content">
                {% if report.fldCommentID %}
                <div class='comment-reports' id="comm{{ report.fldCommentID }}">
                    <div class="large-1 medium-2 small-2 columns">
                        <img src="{{ report.cPic }}" alt="{{ report.cFName }} {{ report.cLName }}" />
                    </div>
                    <div class="large-2 medium-3 small-4 columns">
                        <b><a href="{{ base_url }}/{{ report.cID }}/{{ report.cFName|lower }}{{ report.cLName|lower }}-{{ fldCommentCreatedOn|date("mdY") }}/">{{ report.cFName }} {{ report.cLName }}</a></b>
                        <br />
                        <a href="{{ base_url }}/{{ report.cID }}/{{ report.cFName|lower }}{{ report.cLName|lower }}-{{ fldCommentCreatedOn|date("mdY") }}/">{{ report.fldCommentCreatedOn }}</a>
                    </div>
                    <div class="large-8 medium-4 small-5 columns">
                        <p>
                            {{ report.fldComment }}
                        </p>
                    </div>
                    <div class="large-1 medium-2 small-2 columns text-right">
                        {% if user.fldUserID == report.cID %}
                        <a href='javascript:void(0)' data-cid="{{ report.fldCommentID }}" class="delcomm"><span aria-hidden='true'>&times;</span></a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="new-comments"></div>
                {% if report.fldCommentID %}
                <a href='javascript:void(0)' data-post='{{ report.fldPostID }}' id='mc-{{ report.fldPostID }}' class='comments-modal'>
                    More comments...
                </a>
                {% endif %}
            </div>
            {% if user %}
            <div class='row reports'>
                <div class='large-10 medium-8 small-7 columns'>
                    <input type='text' name='txtComment' id="txt{{ report.fldPostID }}" class='txtComment' placeholder='comment...' />
                    <input type='hidden' name='hdId' class='hdId' value='{{ report.fldPostID }}' />
                </div>
                <div class='large-2 medium-4 small-5 columns'>
                    <button type='button' class='button comment'>comment</button>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="small-12 medium-3 large-3 columns" id="right-sidebar" data-sticky-container>
        {% if user %}
        <div class="sticky-rsidebar" data-sticky style="width:100%" data-top-anchor="reportContents:top" data-btm-anchor="reportContents:bottom">
            <div class="main-bg">
                <div class="row">
                    <div class="large-5 columns">
                        {% if user.fldUserPic %}
                        <img src="{{ user.fldUserPic }}" alt="{{ user.fldUserFName }} {{ user.fldUserLName }}" />
                        {% else %}
                        <i class="fa fa-user" aria-hidden="true"></i>
                        {% endif %}
                    </div>
                    <div class="large-7 columns">
                        <a href="{{ base_url() }}/{{ user.fldUserID }}/{{ user.fldUserFName|lower }}{{ user.fldUserLName|lower }}-{{ "now"|date("mdY") }}/"><h5>{{ user.fldUserFName }} {{ user.fldUserLName }}</h5></a>
                        <small class="memsince">
                            member since : {{ user.fldUserCreatedOn|date("M Y") }}
                        </small>
                        <small>
                            {{ user.fldUserStreet }}
                            {{ user.fldUserCity }}
                            {{ user.fldUserState }}
                        </small>
                    </div>
                </div>
                <div class="row">
                    {% for doing in doings %}
                    <div class="large-4 columns">
                        <div class="text-center ">
                            <a class="verb-modal-user" href="javascript:void(0)" data-verb="{{ doing.fldPostVerb }}">
                                <span class="doing-sidebar">{{ doing.fldPostVerb }}</span> <br>
                                {{ doing.cnt }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
            <footer>
                <ul id="footer">
                    <li><a href="#">Privacy</a></li>
                    <li>-</li>
                    <li><a href="#">Terms</a></li>
                    <li>-</li>
                    <li><a href="#">Help</a></li>
                    <li>-</li>
                    <li><a href="#">Blog</a></li>
                    <li>-</li>
                    <li><a href="#">Jobs</a></li>
                    <li>-</li>
                    <li><a href="#">Media</a></li>
                    <li>-</li>
                    <li><a href="#">Developer</a></li>
                </ul>
            </footer>
        </div>
    </div>
</main>
<div class="small reveal" id="modalEditPost" data-reveal>
    <div id="postEdit">
        <form id="epost">
            <div class="row">
                <div class="large-9 medium-7 small-7 columns" id="etxt-div">
                    <textarea class="input-group-field" placeholder="What you doing?" id="etxtaPost" name="txtaPost"></textarea>
                </div>
                <div class="large-3 medium-5 small-5 columns">
                    <select id="edropdown" name="dbVerb">
                        {% for verb in verbs %}
                        <option value="{{ verb.verb }}">{{ verb.verb }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="large-1 medium-2 small-3 columns text-center">
                    <span class="underline"><a href="javascript:void(0)">Text</a></span>
                </div>
                <div class="large-2 medium-3 small-4 columns">
                    <input type="hidden" name="eepid" id="eepid" />
                    <button type="button" id="epsubmit" class="expanded button" data-close aria-label="Close modal" href="javascript:void(0)">
                        Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
