<!-- login modal box -->
<div class="reveal" id="modalSignup" data-reveal>
  <ul class="menu">
    <li><a href="javascript:void(0)" data-open="modalLogin">Login</a></li>
    <li class="active"><a href="javascript:void(0)" data-open="modalSignup">Signup</a></li>
  </ul>
  <hr>
  <div class="large-5 columns">
    <form class="" action="{{ path_for('singup') }}" method="post" enctype="multipart/form-data">
      <label>
        Email *
        <input type="text" name="txtEmail" />
        <p class="help-text danger" id="emailHelpText">{{ errorsSignup['txtEmail'][0] }}</p>
      </label>
      <label>
        Password *
        <input type="password" name="txtPassword" />
        <p class="help-text danger" id="passwordHelpText">{{ errorsSignup['txtPassword'][0] }}</p>
      </label>
      <label>
        Conf Password *
        <input type="password" name="txtConfPassword" />
        <p class="help-text danger" id="confpassHelpText">{{ errorsSignup['txtConfPassword'][0] }}</p>
      </label>
      <label>
        First Name *
        <input type="text" name="txtFName" />
        <p class="help-text danger" id="fnameHelpText">{{ errorsSignup['txtFName'][0] }}</p>
      </label>
      <label>
        Last Name *
        <input type="text" name="txtLName" />
        <p class="help-text danger" id="lnameHelpText">{{ errorsSignup['txtLName'][0] }}</p>
      </label>
      <label>
        Street *
        <input type="text" name="txtStreet" />
        <p class="help-text danger" id="streetHelpText">{{ errorsSignup['txtStreet'][0] }}</p>
      </label>
      <label>
        City *
        <input type="text" name="txtCity" />
        <p class="help-text danger" id="cityHelpText">{{ errorsSignup['txtCity'][0] }}</p>
      </label>
      <label>
        State *
        <input type="text" name="txtState" />
        <p class="help-text danger" id="stateHelpText">{{ errorsSignup['txtState'][0] }}</p>
      </label>
      <label>
        Country *
        <input type="text" name="txtCountry" />
        <p class="help-text danger" id="countryHelpText">{{ errorsSignup['txtCountry'][0] }}</p>
      </label>
      <label>
          Profile Picture *
          <input type="file" name="file" />
          <p class="help-text danger" id="fileHelpText">{{ errorsSignup['file'][0] }}</p>
      </label>
      <button type="submit" class="button" href="#">Signup</button>
    </form>
  </div>
  <div class="large-2 columns">
    - or -
  </div>
  <div class="large-5 columns">
    <a class="button" href="{{ fbLogin }}">Signup with Facebook</a>
  </div>
</div>
