<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ base_url() }}/assets/css/foundation.min.css" />
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap.css" />
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/magnific-popup.css" />
        <!-- <link rel="stylesheet" href="{{ base_url() }}/assets/css/app.css" /> -->
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/appv2.css" />
    </head>
    <body>
